<!DOCTYPE html>
<html lang="en" ng-app="UserRegApp">
<head>
    <meta charset="UTF-8">
    <title>FSF First Assessment</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
</head>
<body ng-controller="UserRegCtrl as ctrl">
    <div class="container-fluid">
        <h1>User Registration Form</h1>
        <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off" class="custom-form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required ng-model="ctrl.newUser.name">
                </div>
                <!--<div class="help-block"-->
                     <!--ng-show="regForm.name.$invalid && regForm.name.$error.required">-->
                    <!--<p>Name is mandatory</p>-->
                <!--</div>-->
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required ng-model="ctrl.newUser.password">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required ng-model="ctrl.newUser.email">
                </div>
                <div class="help-block"
                     ng-show="regForm.email.$invalid&&regForm.email.$dirty">
                    <p>Email format is wrong</p>
                </div>
            </div>
            <div class="form-group form-inline">
                <label ID="gender" for="gender" class="col-sm-2 control-label">Gender</label>
                &nbsp;&nbsp;&nbsp;
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="male" checked ng-model="ctrl.newUser.gender">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="female" ng-model="ctrl.newUser.gender">Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">Date of Birth</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="date" id="date" title="Above 18 only" placeholder="Date" required ng-model="ctrl.newUser.dob">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required ng-model="ctrl.newUser.address">
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="country" id="country" placeholder="Country" required ng-model="ctrl.newUser.country">
                </div>
            </div>
            <div class="form-group">
                <label for="contact" class="col-sm-2 control-label">Contact Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="contact" id="contact" pattern="[\d\+\-]+" placeholder="Contact (Can only accept numbers, + and -)" required ng-model="ctrl.newUser.contact">
                </div>
                <div class="help-block"
                     ng-show="regForm.contact.$invalid&&regForm.contact.$dirty">
                    <p>Contact format is wrong</p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Register</button>
                <!--<button type="submit" class="btn btn-primary">Register</button>-->
            </div>
            <div class="alert" role="alert" ng-show="ctrl.status.code"
                 ng-class="{'alert-success': ctrl.status.code==200, 'alert-danger': ctrl.status.code==400,}">
                <button class="close" data-dismiss="alert">x</button>
                {{ctrl.status.message}}
            </div>
        </form>
    </div>
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</html>